<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color: #D8D8D8;">
	<div class="center89" style="margin: auto;padding: 10px;padding-top: 50px;">
		<div id="rcorners15" style="background: #fff;padding: 20px;margin: auto;width: 750px;">
			<div class="container" style="width: 100%;height: 80px;background: -webkit-linear-gradient(top, rgb(93, 43, 163) 0%,rgb(123, 50, 160) 100%);">
				<ul>
					<span class="" style=""><img
						src="cid:logo.png"
						style="margin-top:10px;"></span>
				</ul>
			</div>

			<div class="center80" style="margin: auto;width: 80%;padding: 10px; font-size: 15px;font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; ">
				<p>Dear ${fullname},<p>
				
				<p>We received a request to reset the password for your account. If you did not make this request, please ignore this email.</p>
				
				<p>To reset your password, please click on the link below: <br>
				${urlreset}</p>
					
			
			<p>The link will be valid for 24 hours. If you are unable to click on the link, you can copy and paste the link into your browser.</p>
			
			<p>If you have any questions or concerns, please contact our support team at pg.techsupport@1pay.in</p>
			
			<p>Thank you for using our service.</p>
			<br>
			
				<p>Regards,</p>
				<p>Team 1PAY</p>
				<br>
					</div>
			</div>
		</div>
</body>
</html>