<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body style="background-color: #D8D8D8;">
	<div class="center89" style="margin: auto;padding: 10px;padding-top: 50px;">
		<div id="rcorners15" style="background: #fff;padding: 20px;margin: auto;width: 750px;">
			<div class="container" style="width: 100%;height: 80px;background: -webkit-linear-gradient(top, rgb(93, 43, 163) 0%,rgb(123, 50, 160) 100%);">
				<ul>
					<span class="" style=""><img
						src="cid:logo.png"
						style="margin-top:10px;"></span>
				</ul>
			</div>

			<div class="center80" style="margin: auto;width: 80%;padding: 10px; font-size: 15px;font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; ">
				<p>Dear Merchant Partner,<p>
				<p>Thank you for completing your registration with 1PAY!</p>
				<p>Here are your test credentials. Please use them for integration and logging into your test dashboard.</p>
					
									<table style="border: 1px solid #3788C1;width:100%; font-size: 15px; font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif; ">
							<tbody>
								<tr class="">
									<td class="" style="padding: 20px 0 5px 0;vertical-align: top; width: 40%">
										<label  style="margin-left: 20px;color: #747d8a;display: inline-block; color: black;">Merchant ID/Username:</label>
									</td>
									<td style="padding: 20px 0 5px 0;">
										<label style="color:black;font-weight: 500; font-weight: bold;">${MID}</label>
									</td>
									
								</tr>
								<tr class="">
									<td class="" style="padding: 10px 0 5px 0;vertical-align: top; width: 40%">
										<label  style="margin-left: 20px;color: #747d8a;display: inline-block; color: black;">Name:</label>
									</td>
									<td style="padding: 10px 0 5px 0;">
										<label style="color:black;font-weight: 500; font-weight: bold;">${Name}</label>
									</td>
									
								</tr>
								<tr class="">
									<td class="" style="padding: 10px 0 5px 0;vertical-align: top; width: 40%">
										<label  style="margin-left: 20px;color: #747d8a;display: inline-block; color: black;">Return URL:</label>
									</td>
									<td style="padding: 10px 0 5px 0;">
										<label style="color:black;font-weight: 500; font-weight: bold;">${ReturnUrL}</label>
									</td>
									
								</tr>
								<tr class="">
									<td class="" style="padding: 10px 0 5px 0;vertical-align: top; width: 40%">
										<label  style="margin-left: 20px;color: #747d8a;display: inline-block; color: black;">API/Encryption Key:</label>
									</td>
									<td style="padding: 10px 0 5px 0;">
										<label style="color:black;font-weight: 500; font-weight: bold;">${EncyptKey}</label>
									</td>
									
								</tr>
								<tr class="">
									<td class="" style="padding: 10px 0 20px 0;vertical-align: top; width: 40%">
										<label  style="margin-left: 20px;color: #747d8a;display: inline-block; color: black;">Password:</label>
									</td>
									<td style="padding: 10px 0 20px 0;">
										<label style="color:black;font-weight: 500; font-weight: bold;">${Password}</label>
									</td>
									
								</tr>

							</tbody>
						</table>
				
				
				
				
				<p>For downloading integration kits, <a href="https://pa-preprod.1pay.in/Kits/MerchantIntegrationKit1.0.5.zip" style="text-decoration: none;"><u style="color: blue; font-weight: bold;">click here.</u></a></p>
				<p>For any queries, kindly raise a ticket <a href="mailto:pg.techsupport@1pay.in" style="text-decoration: none;"><u style="color: blue; font-weight: bold;">click here</u></a></p>
				<br>
						<button 
					style="margin-left: 222px; background: -webkit-linear-gradient(top, rgb(93, 43, 163) 0%, rgb(162, 64, 138) 100%);outline: none;border: none;
						color: white;padding: 14px;width: 20%;border-radius: 200px;">
			
					<a href="https://pay.1pay.in/Merchant/" style="text-decoration: none;"><font
						style="color: white">LOGIN</font></a>
				</button>
				
				<p>Regards,</p>
				<p>Team 1PAY</p>
			
				<hr class="" style="border-top: 1px solid #3788C1;">
					<a href="https://twitter.com/1payindia?lang=en" class="logo" style="text-decoration: none;">
					<img
						src="cid:icons8-twitter-48.png"
						style="height: 30px; padding-left: 238px;" >
						
						</a>
					&nbsp; &nbsp;
				&nbsp; &nbsp; 
				<a href="https://in.linkedin.com/company/1pay">
				<img
					src="cid:icons8-linkedin-48.png"
					style="height: 30px;"/>
				</a>
					</div>
			</div>
		</div>
</body>
</html>